$primary-color: #007bff;
$secondary-color: #ff85a2;
$accent-color: #28a745;
$dark-gray: #333;
$mid-gray: #555;
$light-gray: #ddd;
$background-gray: #f8f9fa;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Merriweather', serif;